@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Jost', sans-serif;
}

body {
    background-image: url(./background.png);
}

.top-bar {
    left:0%;
    top:0%;
    position:absolute;
    width:98.9vw;
    display:flex;
    border:0.2rem solid;
    border-radius:1rem;
    padding:0.5rem;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.502); 
    color: #000000; 
}

#welcome {
    transform: translate(100%, -20%); 
    top:50%;
    left:50%;

}

#musicplayer {
    left:50%;
    top:50%;
    transform: translate(100%, -20%); 

}

#sodanhamaOS {
    color:#444444;

}

.window {
    border: solid; 
    width:fit-content; 
    border-radius:1rem; 
    position:absolute;
    display:block;
    padding:1rem;
    backdrop-filter: blur(5px);
    position: fixed; 
    background-color: hsla(0, 0%, 100%, 0.75); 

}


.windowheader {
    border-bottom: rgb(68, 68, 68) solid;
    color:rgb(68, 68, 68);
    cursor:move;
}

.open {
    cursor: pointer;
}

.close {
    cursor: pointer;
    height:1.25rem;
    width:1.25rem;
    position:fixed;
    top:7.5%;
    left: 92.5%;

}
